.section-pitch {
  color: white;
  margin: 0 3%;
  position: absolute;
  top: 35%;
  font-size: 1.8vw;
  @media (max-width: 1000px) {
      top: 55%;
      font-size: 1.9vw;
  }
  @media (max-width: 800px) {
      top: 60%;
      font-size: 3.2vw;
      margin: 0 4em;
      text-align: center;
  }
}

.section-pitch h1 {
  color: white;
  font-size: 3em;
  margin: 0 0 0.2em;
  font-weight: 700;
}

.section-pitch p {
  margin: 0 0 0.5em;
  font-weight: 300;
}

.section-pitch button {
  font-size: 14px;
  letter-spacing: 1.9px;
  font-weight: 100;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 12px 2em;
  color: white;
  // background-color: #e50914;
  background-color: rgb(253, 87, 80);
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  border-radius: 2px;
  user-select: none;
  text-align: center;
  // border: 0;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border: none;
  border-radius: 0;
  &:hover {
    // background-color: #E53935;
    background-color: rgb(223, 57, 50);
  }
}
