.section-pitch {
  color: white;
  margin: 0 3%;
  position: absolute;
  top: 35%;
  font-size: 1.8vw; }
  @media (max-width: 1000px) {
    .section-pitch {
      top: 55%;
      font-size: 1.9vw; } }
  @media (max-width: 800px) {
    .section-pitch {
      top: 60%;
      font-size: 3.2vw;
      margin: 0 4em;
      text-align: center; } }

.section-pitch h1 {
  color: white;
  font-size: 3em;
  margin: 0 0 0.2em;
  font-weight: 700; }

.section-pitch p {
  margin: 0 0 0.5em;
  font-weight: 300; }

.section-pitch button {
  font-size: 14px;
  letter-spacing: 1.9px;
  font-weight: 100;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 12px 2em;
  color: white;
  background-color: #fd5750;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  border-radius: 2px;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border: none;
  border-radius: 0; }
  .section-pitch button:hover {
    background-color: #df3932; }
