.main-nav {
  height: 90px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  img {
      width: 167px;
      height : 45px;
      vertical-align: middle;
  }
  .logo {
      display: inline-block;
      line-height: 90px;
      margin: 0 0 0 3%;
  }
}

.main-nav button {
  color: white;
  cursor: pointer;
  // background-color: #e50914;
  background-color: rgb(253, 87, 80);
  line-height: normal;
  margin: 18px 3% 0 0;
  padding: 7px 17px;
  font-weight: 100;
  border: transparent;
  // border-radius: 3px;
  font-size: 16px;
  text-decoration: one;
  text-transform: uppercase;
  border-radius: 0;
  &:hover {
    // background-color: #E53935;
    background-color: rgb(223, 57, 50);
  }
  float: right;
  font-family: Arial, sans-serif;
}
